<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Medicament" asp-route-id="" class="nav-link active"
                                aria-current="page">Voir les médicaments</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Patient" asp-route-id="" class="nav-link active"
                                aria-current="page">Voir les patients</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Allergy" asp-route-id="" class="nav-link active"
                                aria-current="page">Voir les allergies</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="MedicalHistory" asp-route-id="" class="nav-link active"
                                aria-current="page">Voir les antécedents</a>
                        </li>
                        <li class="nav-item" class="navbar-text">
                            <a class="nav-link active">Hello, @User.Identity.Name!</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Logout" asp-controller="Account" asp-route-id="" class="nav-link active"
                                aria-current="page">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="Login" asp-route-id="" aria-disabled="true" asp-controller="Account">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>

</html>