@model MedicalHistory

<div class="container py-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded" style="width: 100%; max-width: 15000px;">
            <div class="card-header text-center" style="width: 100%;">
                <h1 class="mb-0">Créer un nouvel antécedent :</h1>
            </div>
            <div class="card-body">
                <form asp-action="Add" asp-controller="MedicalHistory" method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label> <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <br />
                    <input type="submit" value="Ajouter" class="btn btn-primary" />
                </form>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
</div>