@model RegisterViewModel

<div class="container py-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded" style="width: 100%; max-width: 15000px;">
            <div class="card-header text-center" style="width: 100%;">
                <h1 class="mb-0">Créér un compte</h1>
            </div>
            <div class="card-body">
                <form asp-action="Register" asp-controller="Account" method="post">
                    <div class="form-group">
                        <label asp-for="UserName"></label> <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label> <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName"></label> <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label> <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label> <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />
                    <br />
                    <input type="submit" value="Créer un compte" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
