@model Patient


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>

<body>
    <h1>Créer un nouveau patient :</h1>
    <form asp-action="Add" asp-controller="Patient" method="post">

        <div class="form-group">
            <label asp-for="FirstName"></label> <input asp-for="FirstName" class="form-control" />
            @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label> <input asp-for="LastName" class="form-control" />
            @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Age"></label> <input asp-for="Age" class="form-control" />
            @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="form-group">
            <select asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))" class="form-control">
                <option value="">Select Gender</option>
            </select>
            @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Height"></label> <input asp-for="Height" class="form-control" />
            @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Weight"></label> <input asp-for="Weight" class="form-control" />
            @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>

        @* Jsuis pas sur faut que je recup les données du doctor qui cree le patient !!!!!!*@
        <div class="form-group">
            <label asp-for="Doctor.FirstName"></label> <input asp-for="Doctor.FirstName" class="form-control" />
            @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
            <span asp-validation-for="Doctor.FirstName" class="text-danger"></span>
        </div>

        <br />
        <br />
        <input type="submit" value="Ajouter" class="btn btn-primary" />
    </form>

    @* Permet de visualiser le resume de l'ensemble des erreurs de validation, ceci est un tag helper *@
    <div asp-validation-summary="All" class="text-danger"></div>
</body>
