@model Patient

<div class="container py-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded" style="width: 100%; max-width: 15000px;">
            <div class="card-header text-center" style="width: 100%;">
                <h1 class="mb-0">Êtes-vous sûr de vouloir supprimer ce patient ?</h1>
            </div>
            <div class="card-body">
                <form asp-action="DeleteConfirmed" method="post">
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="FirstName"></label> <input asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label> <input asp-for="LastName" class="form-control" />
                    </div>
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                    <input type="button" onclick="history.back()" value="Retour" class="btn btn-secondary" />
                </form>
            </div>
        </div>
    </div>
</div>