@model Allergy


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Modifier une allergie :</h1>

    <form asp-action="Edit" asp-controller="Allergy" method="post">

        <input asp-for="Id" type="hidden" />

        <div class="form-group">
            <label asp-for="Name"></label> <input asp-for="Name" class="form-control" />
            @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <br />
        <br />

        <input type="submit" value="Sauvegarder" class="btn btn-primary" />
        <input type="button" onclick="history.back()" value="Retour" class="btn btn-secondary" />
    </form>

    @* Permet de visualiser le resume de l'ensemble des erreurs de validation, ceci est un tag helper *@
    <div asp-validation-summary="All" class="text-danger"></div>

</body>