@model PatientListViewModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<h1>Créer une ordonnance</h1>

<form asp-action="Add" methode="Post">

    <select asp-for="PatientId" class="select select-bordered w-full my-4">
        <option value="">Choisir un patient</option>
        @foreach (var patient in Model.Patients)
        {
            <option value="@patient.Id">@patient.FirstName @patient.LastName</option>
        }
    </select>

    <div class="form-group">
        <input type="submit" value="Enregistrer" class="btn btn-primary" />
    </div>

</form>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>